/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Font definition */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************
		 GLOBAL CSS 
******************************/
h1{
	font-family: "Nexa";
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 1em;
}
p{
	font-family: "Nexa";
}
/* /// XS SCREEN SIZE /// */
@media only screen and (min-width: 0px) {

}
/* /// SM SCREEN SIZE /// */
@media only screen and (min-width: 768px) {
	/* ---------------
		1ST AREA 
	--------------- */
	.firstArea{
		background-image: url('../images/firstAreaBackground.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-color:#FFCF00;
		background-size: contain;
		min-height:500px;
	}
	.mainHeadline{
		font-size: 3em;
		background-color:#4FB4C7;
	}
	.cloud0{
		display: none;
	}
	.cloud1{
		display: none;
	}
	.cloud2{
		display: none;
	}
	/* ---------------
		2ND AREA 
	--------------- */
	.secondArea{
		background-image: url('../images/2ndAreaBackground.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-color:#4FB4C7;
		background-size: cover;
		min-height:339px;
		/*Font Color*/
		color:#852800;
	}
	.donkeyChar{
		margin-top: 129px;
		margin-bottom: 80px;
	}
	.info2{
		margin-top: 200px;
	}
	/* ---------------
		3RD AREA 
	--------------- */
	.thirdArea{
		background-image: url('../images/3rdAreaBackground.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-color:#C9EFFE;
		background-size: cover;
		min-height:339px;
		/*Font Color*/
		color:#852800;
	}
	.info3{
		margin-top: 110px;
	}
	.connectedChars{
		margin-top: 103px;
		margin-bottom: 26px;
	}

	/* ---------------
		4TH AREA
	--------------- */
	.fourthArea{
		background-color:#E74F25;
		/*Font Color*/
		color:#FEF3D2;
	}
	.ufoLemondo{
		margin-top:50px;
		/*margin-bottom:50px;*/
		margin-bottom:150px;
	}
	.info4{
		margin-top:80px;
	}
	/* ---------------
		5TH AREA 
	--------------- */
	.fiveArea{
		background-color:#26444F;
		/*Font Color*/
		color:#FEF3D2;	
	}
	.info5{
		margin-top: 118px;
	}
	.darkLemon{
		margin-top: 45px;
	}
	/* ---------------
		6TH AREA 
	--------------- */
	.sixArea{
		background-color:#FFCF00;
		text-align: center;
	}
	.finalLemonStand{
		margin-top: 45px;
		width:21%;
	}
	.custCrowd{
		width:100%;
		opacity:1;
	}
	.crowdContainer{
		position: relative;
		height:366px;
	}
	#handCrowd0{
	
	}
	#handCrowd1{
		position: absolute;
		top: 77px;
		left: 0px;
	}
	/* ---------------
		FOOTER 
	--------------- */
	footer{
		min-height: 300px;
		background-color: #E74F25;
	}
}
/* /// MD SCREEN SIZE /// */
@media only screen and (min-width: 992px) {
	/* ---------------
		1ST AREA 
	--------------- */
	.firstArea{
		min-height:600px;
	}
	/* ---------------
		3RD AREA 
	--------------- */
	.info3{
		margin-top: 184px;
	}
	/* ---------------
		4TH AREA
	--------------- */
	.info4{
		margin-top:175px;
	}
	/* ---------------
		5TH AREA 
	--------------- */
	.info5{
		margin-top: 230px;
	}
}
/* /// LG SCREEN SIZE /// */
@media only screen and (min-width: 1200px) {
	/* ---------------
		1ST AREA 
	--------------- */
	.firstArea{
		min-height:663px;
	}
	
	/*Cloud 0 Animation & CSS*/
	@keyframes cloud0move{
    	from {margin-left:49%;}
    	to {margin-left:59%}
	}
	.cloud0{
		display: block;
		width: 354px;
		margin-top:5%;;
		animation-name: cloud0move;
		animation-duration: 15s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards; /*Prevent animation reset*/
	}
	
	/*Cloud 1 Animation & CSS*/
	@keyframes cloud1move{
    	from {margin-left:17%;}
    	to {margin-left:7%}
	}
	.cloud1{
		display: block;
		width: 226px;
		margin-top:10%;
		animation-name: cloud1move;
		animation-duration: 10s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards; /*Prevent animation reset*/
	}

	/*Cloud 2 Animation & CSS*/
	@keyframes cloud2move{
    	from {margin-left:65%;}
    	to {margin-left:76%;}
	}
	.cloud2{
		display: block;
		width: 226px;
		margin-top:-9%;		
		animation-name: cloud2move;
		animation-duration: 10s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards; /*Prevent animation reset*/
	}
	/* ---------------
		2ND AREA 
	--------------- */
	.info2{
		margin-top: 250px;
	}
	/* ---------------
		3RD AREA 
	--------------- */
	.info3{
		margin-top: 214px;
	}
	/* ---------------
		4TH AREA
	--------------- */
	.info4{
		margin-top:247px;
	}
	/* ---------------
		5TH AREA
	--------------- */
	.info5{
		margin-top:290px;
	}
	/* ---------------
		6TH AREA 
	--------------- */
	.crowdContainer{
		-webkit-mask: url(../images/handCrowdMask.png) center top no-repeat;
    	-webkit-mask-size: cover;
	}
	@keyframes handWave{
		from {top:81px;}
    	to {margin-top:203px;}
	}
	#handCrowd1{
		animation-name: handWave;
		animation-duration: 1.25s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	/* ---------------
		FOOTER
	--------------- */
	footer{
		background-color:#e94f24;
	}
}